<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <div class="centered">
      <div style="display: flex; justify-content: center; height: 70px">
        <div class="logo">
          <img src="../assets/logo.png" alt="logo" width="100px" />
          <h5 style="text-align: center; margin-top: auto">LOGO</h5>
        </div>
      </div>
      <div>
        <form action="">
          <div style="display: flex; flex-direction: column; gap: 10px">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <div style="display: flex; justify-content: center;">
              <button type="submit" style="width: 30%">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
