<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Article</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="./logo" alt="logo" width="100px" />
        <h5 style="text-align: center; margin-top: auto">LOGO</h5>
      </div>
    </nav>
    <div class="container">
      <div>
        <h2>My Article</h2>
        <p class="date">12 January 2023</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni
          reiciendis distinctio dicta! Dolore illo pariatur laborum dolores
          assumenda ducimus suscipit distinctio laudantium! Itaque qui tempore
          nisi doloribus ea voluptatibus?
        </p>
      </div>
    </div>
    <div class="container">
      <h2>Add your comment</h2>
      <form action="" class="form" onsubmit="">
        <input type="text" placeholder="Name" style="width: 30%" id="name" />
        <textarea
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          placeholder="Comment"
          style="width: 50%"
        ></textarea>
        <div style="display: flex; flex-direction: row; gap: 10px">
          <input
            type="text"
            placeholder="Chaptcha"
            style="width: 30%"
            id="chaptcha"
          />
          <label for="chaptcha" id="chaptcha-value">what is x + y?</label>
        </div>
        <!-- chaptcha warning -->
        <div id="chaptcha-warning" style="color: red; display: none"></div>
        <button type="button" onclick="Submit()" style="width: 20%">
          Submit
        </button>
      </form>
    </div>
    <div class="container" id="comments">
      <h2 id="comment-length"></h2>
    </div>
    <script>
      $.ajax({
        url: "/api/comment",
        type: "GET",
        success: function (data) {
          const comments = data;
          console.log(comments);
          const commentLength = document.getElementById("comment-length");
          commentLength.innerHTML = `Comments(${comments.length})`;
          const commentContainer = document.getElementById("comments");
          comments.forEach((comment) => {
            const commentDiv = document.createElement("div");
            commentDiv.classList.add("comment");
            commentDiv.innerHTML = `
            <h3>${comment.name}</h3>
            <p class="date">${convertTimestamp(comment.date)}</p>
            <p>${comment.comment}</p>
            `;
            commentContainer.appendChild(commentDiv);
          });
        },
      });
      function Submit() {
        const name = document.getElementById("name");
        const comment = document.getElementById("comment");
        if (chaptcha()) {
          console.log(name.value, comment.value);
        } else {
          const chaptchaWarning = document.getElementById("chaptcha-warning");
          chaptchaWarning.innerHTML = "Chaptcha is wrong";
          chaptchaWarning.style.display = "block";
        }
        // $.ajax({
        //   url: "/api/comment",
        //   type: "POST",
        //   data: {
        //     name: name.value,
        //     comment: comment.value,
        //     // chaptcha: chaptcha.value,
        //   },
        //   success: function (data) {
        //     console.log(data);
        //   },
        // });
      }
      const x = Math.floor(Math.random() * 10);
      const y = Math.floor(Math.random() * 10);
      document.getElementById(
        "chaptcha-value"
      ).innerHTML = `What is ${x} + ${y}?`;

      function chaptcha() {
        const chaptcha = document.getElementById("chaptcha");
        if (chaptcha.value == x + y) {
          return true;
        } else {
          return false;
        }
      }

      function convertTimestamp(timestamp) {
        const date = new Date(timestamp);
        const day = date.getDate();
        const month = date.getMonth();
        const year = date.getFullYear();
        const months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        return `${day} ${months[month]} ${year}`;
      }
    </script>
  </body>
</html>
