@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: auto;
  gap: 10px;
}
/* .logo {
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
} */
nav {
  border: 1px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
}
.container {
  border: 1px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  padding: 20px;
  width: 100%;
}
.date {
  display: flex;
  margin-top: -12px;
  color: gray;
  font-weight: bold;
}
.comment {
  border: 1px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  padding: 20px;
  margin-top: 10px;
}
.centered {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.options {
    display: flex;
    justify-content: right;
    gap: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
input {
    width: 300px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
}
textarea {
    width: 300px;
    height: 100px;
    border: 1px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
}

button {
    width: 100px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    background-color: white;
    color: black;
    font-weight: bold;
} 

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .centered {
    width: 100%;
    height: 100%;
  }
}

